@{
    ViewData["Title"] = "Home Page";
}
@*主頁魔物獵人資料系統連結之內容*@
<div class="text-center">
    <h1 class="display-4">
        <img src="~/lib/pic/Welcome-(黑色文字圖透明背景).png" />
    </h1>
    <p><h1>
    <img src="~/lib/pic/魔物獵人資料系統-(黑色文字圖透明背景).png" /></a>
</h1></p>
    
</div>
