@{
    ViewData["Title"] = "工作人員分配表";
}
@*底標連結內容*@
<h1>@ViewData["Title"]</h1>

<p>
    專案及控制器建立：吳亞璇、廖湘平</br>
    程式架構設計：賴冠羽、曾翊凱、何昱融、林峻宇</br>
    網頁介面設計：王譽錚、龔意晴、胡佩欣</br>
    資料表設計：曾翊凱、何昱融、林峻宇</br>
    報告負責人員:曾翊凱、吳亞璇、廖湘平、鐘偉嘉
    
</p>
